<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
    <style>
        table {
            border-collapse: collapse;
            width: 300px;
        }

        td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }

        header {
            display: flex;
            justify-content: space-between;
            width: 500px;
        }
    </style>
</head>
<body>
<header>
    <h1>Admin panel</h1>
    <p class="logout"><a href="/logout">Logout</a></p>
</header>
<a href="/create">Create new user</a>
<table>
    <tr>
        <th></th>
        <th>ID</th>
        <th>Name</th>
        <th>Username</th>
        <th>Password</th>
        <th>Role</th>
    </tr>
    <tr th:each="user : ${users}">
        <td><a th:href="@{/edit?id={id}(id=${user.getId()})}">Edit</a></td>
        <td th:text="${user.getId()}">value</td>
        <td th:text="${user.getName()}">value</td>
        <td th:text="${user.getUsername()}">value</td>
        <td th:text="${user.getPassword()}">value</td>
        <td>
        <span th:each="role : ${user.getRoles()}">
            <span th:text="${role.getName()}"></span>
            <br th:if="${!roleStat.last}" />
        </span>
        </td>
        <td><a th:href="@{/delete?id={id}(id=${user.getId()})}"
               onclick="return confirm('Are you sure?')">Delete</a></td>
    </tr>
</table>
</body>
</html>