<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
<header class="container-fluid bg-dark d-flex justify-content-between">
    <div id="headerData" class="text-white fs-1 my-sm-auto">
        Loading user data...
    </div>
    <a class="btn btn-link btn-lg text-secondary" href="/logout">Logout</a>
</header>
<div class="container-fluid">
    <div class="row">
        <div class="col-2 vh-100 px-sm-0">
            <div class="nav flex-column nav-pills mt-sm-3" id="nav-tab" role="pageList" aria-orientation="vertical">
                <a class="nav-link btn-lg py-sm-2 active" id="admin-tab" data-toggle="pill" href="#userPage" role="tab" aria-controls="adminPage" aria-selected="true">User</a>
            </div>
        </div>
        <div class="col-10 bg-light vh-100 px-sm-4">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="userPage" role="tabpanel" aria-labelledby="userPage-tab">
                    <h1 class="mt-sm-3">User information-page</h1>
                    <h5 class="px-sm-3 py-sm-3 border mb-sm-0 rounded-top">About user</h5>
                    <div class="py-sm-3 px-sm-3 bg-white border border-top-0 rounded-bottom">
                        <table class="table bg-white">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">First Name</th>
                                <th scope="col">Last Name</th>
                                <th scope="col">Age</th>
                                <th scope="col">Username</th>
                                <th scope="col">Role</th>
                            </tr>
                            </thead>
                            <tbody id="userTableBody"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/user.js"></script>
</body>
</html>